<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="dataModule">
<head>
    <title>WS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" src="js/jquery.js" ></script>
    <script type="text/javascript" src="js/angular.min.js" ></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
    tinymce.init({
          selector: 'textarea',
          height: 100,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code'
          ],
          toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
    });
    </script>
    
     <link rel="stylesheet" href="css/bootstrap.min.css" >
    <style type="text/css">
       img.img-thumbnail {
            max-width:50px;
           max-height: 50px;
        }
    </style>
    
</head>
<body>
<div class="container">
    <div class="col-xs-6 text-left">
        <h3><span class="glyphicon glyphicon-shopping-cart"></span> Welcome to the R&amp;D Online Store <small>the one-stop shop</small></h3>
    </div>
    <div class="col-xs-6 text-right">
       <h3>
            <button class="btn btn-primary" data-toggle="collapse" data-target="#loginModule"><span class="glyphicon glyphicon-user" ></span> Login</button>
            <button class="btn btn-success" data-toggle="modal" data-target="#registerModal"><span class="glyphicon glyphicon-plus"></span> Register</button>
        </h3>
         <div class="col md-12">
       <div class="collapse" id="loginModule">
          <div class="well text-left">
              <form action="#" class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" placeholder="Enter Username">        
                  <label for="password">Password</label>
                  <input type="text" class="form-control" placeholder="Enter Username">
                  <h5><input type="checkbox" > Remember Me! or <a href="javascript:;;">Forget Password!</a></h5>
                  <button class="btn btn-primary">Login</button>
              </form>
          </div>
       </div>
   </div>
    </div>
  
    
    <hr width='98%'>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Data of Students</div>
            <div class="panel-body">
               <div class="text-right">
                   <h4>
                       <button class="btn btn-primary" ng-click="showdata = !showdata">Show/Hide Student data</button>
                       <button class="btn btn-info" ng-click="topicModule = !topicModule">Hide Add topic</button>
                   </h4>
                   
               </div>
                <table ng-show="showdata" class="table table-hover" ng-controller="studentData as a">
                    <tr>
                        <td>Student ID</td>
                        <td>Name</td>
                        <td class="hidden-xs hidden-sm">Email</td>
                        <td class="hidden-xs hidden-sm">Tel.</td>
                        <td class="hidden-xs">University</td>
                        <td class="hidden-xs hidden-sm">Status</td>
                    </tr>
                    <tr ng-repeat="student in a.studentArray">
                        <td>{{student.id}}</td>
                        <td>{{student.name}}</td>
                        <td class="hidden-xs hidden-sm">{{student.email}}</td>
                        <td class="hidden-xs hidden-sm">{{student.tel}}</td>
                        <td class="hidden-xs">{{student.university}}</td>
                        <td class="hidden-xs hidden-sm">{{student.status}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-controller="itemData as a">
        <div class="panel panel-info">
            <div class="panel-heading">Last Additions</div>
            <div class="panel-body">
                <div class="col-xs-4" ng-repeat="item in a.itemData">
                    <img src="{{item.img}}" alt="{{item.name}}-{{item.id}}" class="img-thumbnail" />
                    <br>
                    {{item.name}}
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span> News</div>
            <div class="panel-body">
                <li><a href="javascript:;;">News 1 : Title 1</a></li>
                <li><a href="javascript:;;">News 2 : Title 2</a></li>
                <li><a href="javascript:;;">News 3 : Title 3</a></li>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-warning" ng-show="!topicModule">
            <div class="panel-heading"><span class="glyphicon glyphicon-pencil"></span> Add topic</div>
            <div class="panel-body">
                <textarea>test Data</textarea>
                <br>
                <div class="col-xs-6 text-left">
                    <button class="btn btn-primary">Post Topic!</button>
                </div>
                <div class="col-xs-6 text-right">
                    <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Upload files...</button>
                </div>
        
            </div>
        </div>
    </div>

    <div class="col-md-12" ng-controller="itemData as a">
        <div class="panel panel-success">
            <div class="panel-heading">Your recently visited.</div>
            <div class="panel-body">
                <img src="{{item.img}}" alt="" class="img-thumbnail" ng-repeat="item in a.itemData | limitTo: a.limit">
            </div>
        </div>
    </div>
    <hr width='98%'>
    <div class="col-xs-6 text-left"><a href="javascript:;;">Bootstrap Site</a></div>
    <div class="col-xs-6 text-right"><a href="javascript:;;">&copy; GEC. Co., Ltd 2015</a></div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           <form action="javascript:;;" name="registerForm" class="form-group">
                <div class="modal-header">
                    <span class="glyphicon glyphicon-plus"> </span> Register
                </div>
                <div class="modal-body" ng-controller="textRegister as txt">
                    <label for="Username">Username</label>
                    <input type="text"  class="form-control" placeholder="{{ txt.username }}" required ng-model="txt.user.username" />
                    <label for="Username">Password</label>
                    <input type="password" class="form-control" placeholder="{{ txt.password}}" required  ng-model="txt.user.pass" />
                    <label for="Username">re Password</label>
                    <input type="password" class="form-control" placeholder="{{ txt.repassword}}" required ng-model="txt.user.pass2" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="registerForm.$invalid">OK!</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>